<img style="float: left; padding-right: 0px; width: 145px" src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e9/EPF_logo_2021.png/524px-EPF_logo_2021.png"> 
<br><br>


###  <div style="text-align: right">  Data Engineering - P2024 <br> <br>  <time datetime="2023-03-07">2023/03/07</time> <br> <br> <u>Name </u>: RAPADAMNABA Robert </div>
<br> 



#   <center>  Data Manipulation </center>

#  <center><u>  Laboratory 2 - Part 1  : Basics of pandas and pandas series</u></center>

In [ ]:
!pip install jyquickhelper

In [ ]:
from jyquickhelper import add_notebook_menu
add_notebook_menu()

## I. Getting started with pandas


In this laboratory and the next one, we are going to learn how to use the library Pandas. It is an open-source, BSD-licensed Python library providing high-performance data manipulation and analysis tool using its powerful and easy-to-use data structures. Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc. It's working with different types of data like : time series, tabular, matrix or statistical. In this lab and next one, we will learn the various features of Python Pandas and how to use them in practice.

You can find every explication about pandas and about its functions in its documentation : [Python pandas](https://pandas.pydata.org/docs/)

The very first step for using pandas is <font color='red'>to install and import it </font>; after doing that we will be able to call it and work with it.

### <div class="alert-info"> 1. Installing pandas </div>

To install pandas, I strongly recommend using a scientific Python distribution. If you’re looking for the full instructions for  installing pandas on your operating system, see [Installing pandas](https://pandas.pydata.org/docs/getting_started/install.html).

In [ ]:
!pip install pandas

or

If you already have Python, you can install pandas with:

In [ ]:
conda install pandas

If you don’t have Python yet, you might want to consider using [Anaconda](https://www.anaconda.com/). It’s the easiest way to get started. The good thing about getting this distribution is the fact that you don’t need to worry too much about separately installing pandas or any of the major packages that you’ll be using for your data analyses, like NumPy, Scikit-Learn, etc.

### <div class="alert-info"> 2. How to import pandas and know the version </div>

To access pandas and its functions, import it in your Python code like this:

In [5]:
# The standard way to import pandas is :

import pandas as pd

The imported name is shortened to <font color='red'>pd</font> for better readability of code using pandas. **This is a widely adopted convention that you should follow so that anyone working with your code can easily understand it.**

In [6]:
# After importing pandas under the name pd, to know your version of pandas, type pd.__version__
pd.__version__

'1.5.3'

Pandas deals with the following 3 data structures −

    Series : a 1-D array like structure with homogeneous data
    DataFrame :a 2-D array with heterogeneous data
    Panel : a 3-D data structure with heterogeneous data


Key Points for Series

    Data must be homogeneous
    The size is immutable
    The values of data are mutable

Key Points for dataframes (can be illustrated as a container of Series)

    Heterogeneous data
    Size Mutable
    Data Mutable

Key Points for panel (It is hard to represent the panel in graphical representation. But a panel can be illustrated as a container of DataFrame.
)


    Heterogeneous data
    Size Mutable
    Data Mutable

Here, we will focus on the first 2 data structures starting with Series.

## II. Creating a pandas Series

There are many ways to instantiate a pandas Series. We will cover the most common ones below. [Docs here cover more constructors](https://pandas.pydata.org/docs/user_guide/dsintro.html#basics-series). A pandas Series can be created using the `pandas.Series( data, index, dtype, copy)` constructor.
With this constructor, a series can be created using various inputs like −

    Array
    Dict
    Scalar value or constant

### <div class="alert-info"> 1. Exercise 1 : Creating pandas series by passing in other Python structures(such as, lists, array, dict, scalar or constant) to the `pd.Series( )` constructor.
 In this exercise we are going to learn how to build a basic series. Look into the documention for help. </div>

#### <center> a. <u>Creating an empty series</u></center>

- Create an **Empty Series** called *Empty_series*  using the `pd.Series( )` constructor and specifying explicitly the dtype as 'float64'.
- After doing that print this series together with its type to ensure that it is an object from the good class.

In [7]:
#TO DO
Empty_series = ...
print(...)

This is an empty series with float64 as dtype  : Series([], dtype: float64) and its type is  <class 'pandas.core.series.Series'>

#### <center> b. <u>Creating a Series from a list</u></center>
Now, let's create a pandas series from a list. 
- Create **two series** called *series1_from_list_default_index* and *series2_from_list_default_index* from *data_list1*= ['a', 'b', 'c', 'd'] and *data_list2*=[3, 2, 1], respectively using the `pd.Series()` constructor and letting pandas create a default integer index.


- Print both series together with their types to ensure that they are objects from  `<class 'pandas.core.series.Series'>`.

In [8]:
#TO DO

data_list1 = ...
data_list2 = ...
series1_from_list_default_index= ...
series2_from_list_default_index= ...
print(...)
print(...)

The first series built from a list is :
 0    a
1    b
2    c
3    d
dtype: object and its type is : <class 'pandas.core.series.Series'>
The second series built from a list is :
 0    3
1    2
2    1
dtype: int64 and its type is : <class 'pandas.core.series.Series'>

#### <center> c. <u>Creating a Series from ndarray</u></center>
Now, let us create a pandas series from ndarray. 
- Create **two series** called *series1_from_array_default_index* and *series2_from_array_default_index* from *data_array1* = ['a', 'b', 'c', 'd'] and *data_array2*= [3, 2, 1], respectively, using the `pd.Series()` constructor  and letting pandas create a default integer index


- print both series together with their types to ensure that they are objects from  `<class 'pandas.core.series.Series'>`:

In [9]:
#TO DO
#import the numpy library and aliasing as np
...

data_array1= ...
data_array2 = ...
series1_from_array_default_index= ...
series2_from_array_default_index= ...
print(...)
print(...)

The first series built from a np.array is :
 0    a
1    b
2    c
3    d
dtype: object and its type is : <class 'pandas.core.series.Series'>
The second series built from a np.array is :
 0    3
1    2
2    1
dtype: int32 and its type is : <class 'pandas.core.series.Series'>

As We did not pass any index, so by default, it assigned the indexes ranging from 0 to (**len(data_array1)-1**)

-  Create **one series** called *series_from_array_assigned_index*  from *data_array1* with the following associated index: [10, 11, 12, 13] using the `pd.Series()` constructor. 
-  Print the series.

In [10]:
#TO DO
series_from_array_assigned_index= ...
print(...)

The series built from np.array with assigned index is :
 10    a
11    b
12    c
13    d
dtype: object

We passed the index values here. Now we can see the customized indexed values in the output.

#### <center> d. <u>Creating Series from a dictionary</u></center>
-  Create **two Series** called *series1_from_dict*, and *series2_from_dict* ,  respectively, both from this dictionary {'E' : 1, 'P' : 0, 'F' : 2}, called *dictionary_data* and using the `pd.Series()` constructor. Do not specify index for the first series but for the second one, assign the following list as index: ['E','P', 'F', '', 'M', 'O', 'N', 'T', 'P', 'E', 'L', 'L', 'I', 'E','R']. 
- Print these series. What do you observe?

In [11]:
#TO DO
dictionary_data = ...
series1_from_dict = ...
print(...)

The first series built from a dictionary is :
 E    1
P    2
F    3
dtype: int64

In [12]:
#TO DO
series_from_dict2 = ...
print(...)

The second series built from a dictionary is :
 E    1.0
P    2.0
F    3.0
     NaN
M    NaN
O    NaN
N    NaN
T    NaN
P    2.0
E    1.0
L    NaN
L    NaN
I    NaN
E    1.0
R    NaN
dtype: float64

#### <center> e. <u>Creating a Series from Scalar</u></center>
 - Create **two Series** called *series_from_scalar1*, and *series_from_scalar2* ,   from *scalar_1=5* and *scalar_2=10*, respectively  and using the `pd.Series()` constructor. Do not specify index for the first series but for the second one, assign the following list as index: ['E','P', 'F', '', 'M', 'O', 'N', 'T', 'P', 'E', 'L', 'L', 'I', 'E','R']. 
- print these series. What do you observe?

In [13]:
#TO DO

scalar_1 = ...
scalar_2 = ...
series_from_scalar1 = ...
series_from_scalar2 = ...
print(...)
print(...)

The first series built from a scalar is :
 0    5
dtype: int64
The second series built from a scalar is :
 E    10
P    10
F    10
     10
M    10
O    10
N    10
T    10
P    10
E    10
L    10
L    10
I    10
E    10
R    10
dtype: int64

### 2. Exercise 2 : Creating pandas series from 1-D ndarray.
 
   - Create a 1-D array with Pandas (a Series), called *series_from_OneD_array*, from 1-D numpy array created using `np.arrange()` with *start*=10, and *stop*=31. 
   - Print this array together with its type (to ensure that it is from the good class), and its shape.

In [14]:
#TO DO
series_from_OneD_array = ...
print(...)

The 1-D array is :
 0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
15    25
16    26
17    27
18    28
19    29
20    30
dtype: int32 The type of this 1-D array is : <class 'pandas.core.series.Series'> and its shape is : (21,)

## III. Accessing Data from Series: Slicing and indexing

Series acts very similarly to a `ndarray` and is a valid argument to most NumPy functions. However, operations such as slicing will also slice the index.

### 1. Exercise 3 : Accessing Data from Series with Position.
 In this exercise we are going to learn how to access data in a series. This is can similar to what is done in an ndarray. Look into the documention for help. 
We will use the following series

#### <center> a. <u>Accessing Data from Series with Position</u></center>

In [15]:
series_for_access=pd.Series(np.arange(1,12), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j','k'])
print(series_for_access)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
dtype: int32

- Retrieve (print) the first element  of *series_for_access*
- Retrieve (print) the first 5 elements  of *series_for_access*
- Retrieve (print) the last 3 elements  of *series_for_access*

In [16]:
#retrieve the first element of series_for_access
print(...)
#retrieve the first 5 elements of series_for_access
print(...)
#retrieve the last 3 elements of series_for_access
print(...)

The first element of the series for access is : 1
The first 5 elements of the series for access is :
 a    1
b    2
c    3
d    4
e    5
dtype: int32
The last 3 elements of the series for access is :
  i     9
j    10
k    11
dtype: int32

- In the series *series_of_listofColours* below, print the color White & Black & Yellow

In [17]:
series_of_listofColours  = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(series_of_listofColours)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [18]:
#TO DO
colors =...
print(...)

('White', 'Black', 'Yellow')

#### <center> b. <u>Accessing Data from Series Using Index</u></center>

- Retrieve a single element using index label value: Retrieve (print) the first element of *series_for_access* using the index label value
- Retrieve multiple elements using a list of index label values: Retrieve (print) the elements of *series_for_access*  at index=['a', 'c', 'd', 'h', 'i']
- Try to retrieve the element at index label value='m'. What do you notice?

In [19]:
#retrieve  the first element of series_for_access using index label value
print(...)
#retrieve the elements of series_for_access at index =['a', 'c', 'd', 'h', 'i']
print(...)
#Trying to retrieve the element at index label value='m'
print("Is index label value m in the series?", 'm' in series_for_access)
print(...)

The first element of  series for access is : 1
The elements of  series for access at index= ['a', 'c', 'd', 'h', 'i'] is :
 a    1
c    3
d    4
h    8
i    9
dtype: int32
Is index label value m in the series? False

KeyError: 'm'

If a label is not contained in the index, an exception is raised. 
Using the `Series.get()` method, a missing label will return None or specified default:

In [20]:
print("Default value to handle the exception :", series_for_access.get('m'))
print("Specified default value to handle the exception :",series_for_access.get('m', np.nan))

Default value to handle the exception : None
Specified default value to handle the exception : nan

#### <center> c. <u>Slicing using built-in functions, boolean slicing</u></center>

- Retrieve the elements of *series_for_access* greather than the median of data
- Retrieve the elements of *series_for_access* smaller than the mean of data

In [22]:
#TO DO
print("The median of data in this series is :",series_for_access.median() )
#Retrieve the elements of *series_for_access* greather than the median of data
print(...)
print("The mean of data in this series is :",series_for_access.mean() )
#Retrieve the elements of *series_for_access* smaller than the mean of data
print(...)

The median of data in this series is : 6.0
The elements of  series for access greather than the median of data is :
 g     7
h     8
i     9
j    10
k    11
dtype: int32
The mean of data in this series is : 6.0
The elements of  series for access smaller than the mean of data is :
 a    1
b    2
c    3
d    4
e    5
dtype: int32

### 2. Exercise 4 : Converting a pandas series to Python list or numpy array
Accessing the array can be useful when you need to do some operation without the index
In this exercise, we are going to learn how to convert a pandas series to Python list or numpy array. Have a look to the functions `tolist()` and `to_numpy()`
- Create a pandas series, called *OneD_series_pandas*,  using a numpy 1D array created using `np.arange` with *start*=12 and *stop*=23. Convert then this series to a Python list called *py_list*
- Print the type of *py_list*
- Print the 5th value in this list

In [23]:
# TO DO
OneD_series_pandas= ...
py_list = ...

print(...)
print(...)

The type of py_list is : <class 'list'>
 The fifth value in py_list is : 16

- Use `Series.array` to print the actual array backing *OneD_series_pandas*
- Use `Series.to_numpy()`to convert the Series called to ndarray and print the resulting ndarray you have got together with its type

In [24]:
# TO DO

backing_array = ...
backing_ndarray = ...

print(...)
print(...)

the actual array backing *OneD_series_pandas* is :
 <PandasArray>
[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
Length: 11, dtype: int32
the actual ndarray backing *OneD_series_pandas* is :
 [12 13 14 15 16 17 18 19 20 21 22] and its type is : <class 'numpy.ndarray'>

## IV. Vectorized operations and label alignment with Series

When working with raw `NumPy` arrays, looping through value-by-value is usually not necessary. The same is true when working with `Series` in pandas. Series can also be passed into most NumPy methods expecting an ndarray.

### 1. Exercise 5 : Basic operations with Series

In this exercise we are going to learn how to do the basic operations (addition, substraction, multiplication, and division) with pandas Series. Look into the documention for help.
For this exercise, we will use the following series:

In [25]:
pdseries_1 = pd.Series(np.arange(10,20))
pdseries_2 = pd.Series(np.arange(210,230))
print("Series 1: \n", pdseries_1, "Series 2: \n",pdseries_2)

Series 1:
 0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32 Series 2:
 0     210
1     211
2     212
3     213
4     214
5     215
6     216
7     217
8     218
9     219
10    220
11    221
12    222
13    223
14    224
15    225
16    226
17    227
18    228
19    229
dtype: int32

- Add up, subtract, multiply and divide *pdseries_1* and *pdseries_2*. What do you notice comparatively to basic operations with ndarray?

In [26]:
# TO DO
# Addition
pdseries_add = ...
print("Addition between 2 series :\n", pdseries_add)

#Substraction
pdseries_sub = ...
print("Substraction :\n", pdseries_sub)

#Multiplication
pdseries_mult = ...
print("Multiplication :\n", pdseries_mult)

#Division
pdseries_div = ...
print("Division :\n", pdseries_div)

Addition between 2 series :
 0     220.0
1     222.0
2     224.0
3     226.0
4     228.0
5     230.0
6     232.0
7     234.0
8     236.0
9     238.0
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
dtype: float64
Substraction :
 0    -200.0
1    -200.0
2    -200.0
3    -200.0
4    -200.0
5    -200.0
6    -200.0
7    -200.0
8    -200.0
9    -200.0
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
dtype: float64
Multiplication :
 0     2100.0
1     2321.0
2     2544.0
3     2769.0
4     2996.0
5     3225.0
6     3456.0
7     3689.0
8     3924.0
9     4161.0
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
dtype: float64
Division :
 0     0.047619
1     0.052133
2     0.056604
3     0.061033
4     0.065421
5     0.069767
6     0.074074
7     0.078341
8     0.082569
9     0.086758
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
dtype: float64

### 2. Exercise 6 : Comparison between 2 series.
In this exercise, we are going to learn how to compare 2 series. For this, we will use the series below. Look into the documentation for help.

In [27]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 9, 7, 10])
print ("Data in ds1 is :\n", ds1)
print ("Data in ds2 is :\n", ds2)

Data in ds1 is :
 0     2
1     4
2     6
3     8
4    10
dtype: int64
Data in ds2 is :
 0     1
1     3
2     9
3     7
4    10
dtype: int64

- Compare ds1 and ds2 to see if the elements (data) at the same position are equal or not.

In [28]:
#TO DO
Are_equal = ...
print("Which element at the same position in ds1 and ds2 are equal or not? \n", Are_equal)

Which element at the same position in ds1 and ds2 are equal or not?
 0    False
1    False
2    False
3    False
4     True
dtype: bool

- Compare ds1 and ds2 to see for the elements (data) at the same position which one in ds1 is greater than which one in ds2.

In [29]:
#TO DO
greater_than = ...
print("Which element at the same position in ds1 is  greater than which one in ds2 or not? \n", greater_than)

Which element at the same position in ds1 is  greater than which one in ds2 or not?
 0     True
1     True
2    False
3     True
4    False
dtype: bool

- Compare ds1 and ds2 to see for the elements (data) at the same position which one in ds1 is smaller than which one in ds2.

In [30]:
#TO DO
smaller_than = ...
print("Which element at the same position in ds1 is  smaller than which one in ds2 or not? \n", smaller_than)

Which element at the same position in ds1 is  smaller than which one in ds2 or not?
 0    False
1    False
2     True
3    False
4    False
dtype: bool

## V. Small exercises

### 1. Exercise 7:  Convert series data type to numeric and convert a series of lists to One series

- Write small programs to change the data type of the series s1 to numeric.
Look at the documentation : https://pandas.pydata.org/docs/reference/api/pandas.to_numeric.html

In [31]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [32]:
#TO DO
# Change the said data type to numeric, with error coerce
s1_numeric = ...
print(s1_numeric)

# Change the said data type to numeric, with error ignore
s1_numeric = ...
print(s1_numeric)

# Change the said data type to numeric, with error raise
s1_numeric = ...
print(s1_numeric)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64
0       100
1       200
2    python
3    300.12
4       400
dtype: object

ValueError: Unable to parse string "python" at position 2

- Convert the series of lists  *series_of_listofColours* from Exercise 3. a. to one Series. 
Look at the documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.stack.html and have a look to functions `apply()`, `stack()`, `reset_index()`

In [33]:
# TO DO
One_series =  ...
print(One_series,type(One_series))

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object <class 'pandas.core.series.Series'>

### 2. Exercise 8:  Sorting a Series and appending values to a Series.

- Sort the Series *s* below by alphabetic order.
Look at the documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

In [34]:
s = pd.Series(['100', '200', 'scala', '300.12', 'python'])

In [35]:
s_sorted = ...
print(s_sorted)

0       100
1       200
3    300.12
4    python
2     scala
dtype: object

- Append the values '1515' and 'WarpScript' to the Series ds3 below. You must re-index the resulting Series.
Look at the documentation: https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [36]:
ds3 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [37]:
ds3_update = ...
print(ds3_update)

0           100
1           200
2        python
3        300.12
4           400
5          1515
6    WarpScript
dtype: object

### 3. Exercise 9:

- Retrieve (print) the index of the first occurrence of the smallest and largest value of the Series ds4.
Look at the documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html
Find the documentation for the min yourself.

In [38]:
ds4 = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])

In [39]:
index_max = ...
index_min = ...
print(...)
print(...)

Max index is:  4
Min index is:  9

### 3. Exercise 10:

- Create a Series that contains the date of all the Sundays of the year 2023.
Look at the documentation: https://pandas.pydata.org/docs/reference/api/pandas.date_range.html

In [40]:

all_sundays_of_2023 = ...
print(all_sundays_of_2023)

0    2023-01-01
1    2023-01-08
2    2023-01-15
3    2023-01-22
4    2023-01-29
5    2023-02-05
6    2023-02-12
7    2023-02-19
8    2023-02-26
9    2023-03-05
10   2023-03-12
11   2023-03-19
12   2023-03-26
13   2023-04-02
14   2023-04-09
15   2023-04-16
16   2023-04-23
17   2023-04-30
18   2023-05-07
19   2023-05-14
20   2023-05-21
21   2023-05-28
22   2023-06-04
23   2023-06-11
24   2023-06-18
25   2023-06-25
26   2023-07-02
27   2023-07-09
28   2023-07-16
29   2023-07-23
30   2023-07-30
31   2023-08-06
32   2023-08-13
33   2023-08-20
34   2023-08-27
35   2023-09-03
36   2023-09-10
37   2023-09-17
38   2023-09-24
39   2023-10-01
40   2023-10-08
41   2023-10-15
42   2023-10-22
43   2023-10-29
44   2023-11-05
45   2023-11-12
46   2023-11-19
47   2023-11-26
48   2023-12-03
49   2023-12-10
50   2023-12-17
51   2023-12-24
dtype: datetime64[ns]

## Conclusion 
    In this  notebook, you have learnt to create pandas series and to perform basic arithmetic operations on them.